<template name="viewImage">
	{{#contentFor "headerButtonLeft"}}
	  {{>ionNavBackButton}}
	{{/contentFor}}

	{{#contentFor "headerTitle"}}
	  <h1 class="title"></h1>
	{{/contentFor}}

		{{#ionView}}
		  {{#ionContent class="dark-background"}}

					<img src="{{viewImage}}" class="session-image" id="display">
					
					{{#each face}}
						
						
						 <div style="position:absolute; width:{{width}}px; height:{{calculateHeight}}px; ;z-index:5; left:{{positionX}}px; top:{{calculateTop}}px ;
						 background-image: url(/images/face_tagging_output/bar.png);
						 background-repeat: no-repeat;
						  background-size: auto 100%;" class="animated slideInUp">
						  {{#if identity}}
								<span class="{{genderDecorate}}">{{identity.name}}</span>
						  {{else}}
						  {{#if notManyFaces}}
							 	<span class="gender {{genderDecorate}}">{{gender.gender}}</span>
							 	<span class="age light" style="padding-left: 5px">{{age.ageRange}}</span>
							{{/if}}
						 	{{/if}}
						 </div>

					<div style="width: {{width}}px; height: {{height}}px; top: {{positionY}}px ;left: {{positionX}}px;" class="detected-face animated zoomIn">	
					<!-- svg border only works on chrome for some reason. using png here -->

						<img src="/images/face_tagging_output/outer_border.png" class="outer-border">		
						<img src="/images/face_tagging_output/inner_border.png" class="inner-border">
					
					

						   
					</div>
					{{/each}}

						{{#if selectedFace}}

						{{#with selectedFace}}

					    {{#ionItem class="animated fadeIn"}}
								{{#if identity}}
								{{#with identity}}
						      <h2>{{name}}</h2>
						      <br>
						      <p class="tags calm">Tags</p>
						      <p>{{subType}}</p>
								{{/with}}
								{{else}}
									<p>
										{{name}}
									</p>
					      {{/if}}	

					      <h3>Age detected</h3>
					      <p>{{age.ageRange}} <span class="h-space light-text"> score: {{age.score}}</span></p>	
					      <h3>Gender detected</h3>	
					      <p>{{gender.gender}} <span class="h-space light-text">score: {{gender.score}}</span></p> 

					    {{/ionItem}}
					  {{/with}}

					  {{else}}
						{{#if face}}
					  	{{#ionItem}}
					  	  <h2>Click a face for more info</h2>		  	

					  	{{/ionItem}}
					  {{/if}}

					  {{/if}}

		  {{/ionContent}}
		{{/ionView}}
</template>