<template name="layout">
	{{#ionBody}}

	  {{#ionSideMenuContainer}}

	    {{#ionSideMenus}}

	      {{#ionSideMenu side="right"}}

	        <div class="content has-header">
	          <div class="list">
	            <div class="item item-icon-left" data-ion-menu-close>
	              {{> ionIcon icon="ios-arrow-left"}} Close Me
	            </div>
	            {{#if currentUser}}
  						<div class="item signOut" onclick="logout();">
              	Sign out
              </div>
	              {{#if faceTaggingOutput}}
	  							<div class="item" onclick="savePicture();">
	  							 <i class="fa fa-save"
	  							 style="padding-right: 10px;"></i> Save
	  							</div>
	              {{/if}}

	              {{#if home}}
									<div class="item" onclick="setDuration(1);">
									 Today
									</div>
									<div class="item" onclick="setDuration(7);">
									 Week
									</div>

	              {{/if}}
	         
							{{else}}
							<div class="item signIn" onclick="login();">
							 <i class="fa fa-twitter fa-2x calm"
							 style="padding-right: 10px;"></i> Sign in
							</div>
	            {{/if}}

	          </div>
	        </div>

	      {{/ionSideMenu}}

	    {{/ionSideMenus}}


	    {{#ionSideMenuContent}}

        {{>ionNavBar class=getBarStyle}}

	      {{#ionNavView}}
	        {{> yield}}
	      {{/ionNavView}}

	    {{/ionSideMenuContent}}

	  {{/ionSideMenuContainer}}

	{{/ionBody}}

</template>